@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: rgba(30,87,153,1);
}

.container-fluid {
  background: #fff;
}

.centered  {
  text-align: center;
}

.nopadding {
  padding: 0;
}

.btn-bump, .btn-warmup {
  width: 100%;
}

#totalWeight {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em;
}

#bumpWeight {
  display: inline-block;
  margin: 0;
  text-align: center;
}

#weightTable {
  text-align:center;
  width: 100%;
  border: 1px solid #ccc;
  margin: 1em 0;
  margin-bottom: 2em;
  table-layout: fixed;
  font-size:0.75em;
}

#weightTable p {
  margin: 0;
  padding: 0.5em;
}

#weightTable p.heading {
  color: #083CBD;
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.25em;
}

#weightTable th, #weightTable td {
  border-right: 1px solid #ccc;
}

#weightTable th:last-child, #weightTable td:last-child {
  border-right: none;
}

#weightTable td {
  font-size: 1.5em;
  padding: 0;
}

#weightTable td.inactive {
  background: #EEE;
  color: #888;
}

#weightTable td.inactive .heading {
  background: #CCC;
  color: #777;
  text-shadow: none;
}

td.zero {
  color: #aaa;
}

.label {
  text-align: center;
  font-size: 0.75em;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  padding-top: 1em;
}

#weightDisplay {
  /*height: 90vh;*/
  background: url('../img/bg.png') center center;
  background-size:cover;
  padding-bottom: 1em;
  border-bottom: 2px solid #202020;
  margin-bottom: 0.5em;
}


input.main {
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  width: 100%;
}

.header, .footer {
  background: rgb(125,185,232);
  background: -moz-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(30,87,153,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(30,87,153,1)));
  background: -webkit-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%);
  background: -o-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%);
  background: -ms-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%);
  background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%);
  border-bottom: 1px solid #222;
  color:#fff;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
}

.header h1 {
  font-size: 1.75em;
  margin-top: 0.25em;
  text-transform: uppercase;
}

.footer {
  margin-top: 2em;
  border-bottom: none;
  border-top: 1px solid #888;
  padding: 1em 0;
}

.footer button {
  width: 100%;
}

.modalContainer {
  visibility: hidden;
  display: none;
  height: 0;
}

#confirmWeightList, #confirmWeightSet {
  font-size: 1.25em;
  font-weight: bold;
}

.customWeight {
  width: 20%;
  margin: 10px 5px;
  color: #888;
}

.customWeight.selected {
  font-weight: bold;
  border: 1px solid #888;
  color: #000;
}

.metricMsg {
  display: block;
  font-size: 0.75em;
  font-weight: normal;
  color: #999;
  margin-top: 0.25em;
}

.weightSetNameMsg {
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 0.25em;
}

button.spaced {
  margin-right: 5px;
}

img.ui-tour {
  max-width: 100%;
  border-radius: 5px;
}
