<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id            = "com.nicksorrell.barbellbro"
        version       = "0.1.0" >

    <name>Barbell Bro</name>

    <description>
        A simple app for helping calculate barbell plate loads.
    </description>

    <author href="http://nicksorrell.com" email="nicksorrell@gmail.com">
        Nick Sorrell
    </author>

    <gap:platform name="android" />

    <preference name="permissions" value="none"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />

    <icon src="img/icon-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  	<icon src="img/icon-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  	<icon src="img/icon-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  	<icon src="img/icon-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
  	<icon src="img/icon-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="icon.png" />

    <gap:splash src="img/splash-ldpi.png" platform="android" gap:qualifier="ldpi" />
  	<gap:splash src="img/splash-mdpi.png" platform="android" gap:qualifier="mdpi" />
  	<gap:splash src="img/splash-hdpi.png" platform="android" gap:qualifier="hdpi" />
  	<gap:splash src="img/splash-xhdpi.png" platform="android" gap:qualifier="xhdpi" />
  	<gap:splash src="img/splash-xxhdpi.png" platform="android" gap:qualifier="xxhdpi" />
    <gap:splash src="splash.png" />

    <access origin="http://nicksorrell.com" subdomains="true" />

    <content src="index.html"/>

</widget>
