<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id            = "com.nicksorrell.barbellbro"
        version       = "0.0.1" >

    <name>Barbell Bro</name>

    <description>
        A simple app for helping calculate barbell plate loads.
    </description>

    <author href="http://nicksorrell.com" email="nicksorrell@gmail.com">
        Nick Sorrell
    </author>

    <gap:platform name="android" />

    <preference name="permissions" value="none"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="splash-screen-duration" value="3000"/>

    <icon src="img/icon-ldpi.png" platform="android" qualifier="ldpi" />
	<icon src="img/icon-mdpi.png" platform="android" qualifier="mdpi" />
	<icon src="img/icon-hdpi.png" platform="android" qualifier="hdpi" />
	<icon src="img/icon-xhdpi.png" platform="android" qualifier="xhdpi" />
	<icon src="img/icon-xxhdpi.png" platform="android" qualifier="xxhdpi" />
    <gap:splash src="splash.png" gap:platform="android"/>

    <content src="index.html"/>

</widget>
