<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p><b>App:</b> Barbell Bro</p>
        <p><b>Version:</b> 1.0.0</p>
        <p><b>Author:</b> Nick Sorrell</p>
        <p class="note">For more information about the author, visit <b><a href="#" onclick="window.open('http://nicksorrell.com', '_system');">nicksorrell.com</a></b>.</p>
        <hr>
        <p>You're using Barbell Bro! I made this simple and free app after realizing that sometimes you don't feel like doing math to
          load up a barbell while at the gym, especially on pre-workout! I figure others could use a bro on their phone to help out too.</p>
        <p>I hope you find Barbell Bro as useful as I do for spending less time number-crunching and more time lifting big.</p>
        <p>Thanks!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default" data-target="back">Back</button>
      </div>
      <script>
      var navTargets = {
        'back': 'help'
      }

      $('.btn.bb-nav').on('click', function(){
        var targetModal = navTargets[$(this).data('target')];

        if(targetModal == undefined) {
          return;
        }

        $('#modal').modal('hide');
        $('#modal').on('hidden.bs.modal', function(e){
          showModal(targetModal);
        });
      });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
