<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">First Time Setup</h4>
      </div>
      <div class="modal-body">
        <p>The app will use these metrics. Is that OK?</p>
        <p id="metric-choice"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
      <script>
        // Set the metric choice text to the user selection
        if( barbellBro.getSetting('activeWeightSet') == 0 ) {
          $('#metric-choice').html('<b>Imperial (e.g., 45 lbs, 35 lbs, 25 lbs ...)</b>');
        } else {
          $('#metric-choice').html('<b>Metric (e.g., 25 kgs, 20 kgs, 15 kgs ...)</b>');
        }

        $('#metric-choice')
        $('.btn-primary').on('click', function(){
          var metricSelection = $('input[name="metric"]:checked').val();

          // Set the active weight set based on the user selection
          if(metricSelection = 'lbs') {
            barbellBro.setSetting('activeWeightSet', 0);
          } else {
            barbellBro.setSetting('activeWeightSet', 1);
          }

          // Load the metric confirmation screen
          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal('confirm-metrics');
          });
        });

        $('.btn-default').on('click', function(){
          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal('setup-metrics');
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
