<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Setup: Confirm Weight Set</h4>
      </div>
      <div class="modal-body">
        <p>Metrics confirmed! You chose <span id="confirmMetricChoice"></span> as your units. The default weight set for that is:</p>
        <p id="confirmWeightList"></p>
        <p>If this doesn't work for you, and you'd like to customize your own weight set, select the <b>Edit</b> button. Otherwise select the <b class="text-primary">Next</b> button to continue.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default pull-left" data-dismiss="modal">Exit</button>
        <button type="button" class="btn bb-nav btn-default" data-target="back">Back</button>
        <button type="button" class="btn bb-nav btn-info" data-target="edit">Edit</button>
        <button type="button" class="btn bb-nav btn-primary" data-target="next">Next</button>
      </div>
      <script>
        var theMetric = barbellBro.getSetting('metric');

        //Save the settings and reload the UI
        barbellBro.setSetting('activeWeightSet', theMetric == 'lbs' ? 0 : 1);
        barbellBro.saveSettings();
        init({modal: false});

        $('#confirmMetricChoice').html( barbellBro.getWeightSet(barbellBro.getSetting('activeWeightSet')).type );

        var confirmWeightList = '<span class="weightSetNameMsg">' + (theMetric == 'lbs' ? barbellBro.settings.weightSets[0].name : barbellBro.settings.weightSets[1].name) + '</span>';

        for(var i = 0; i < barbellBro.getWeightSet(barbellBro.getSetting('activeWeightSet')).weights.length; i++){
          if(i < barbellBro.getWeightSet(barbellBro.getSetting('activeWeightSet')).weights.length - 1){
              confirmWeightList += barbellBro.getWeightSet(barbellBro.getSetting('activeWeightSet')).weights[i] + ",  ";
          } else {
            confirmWeightList += barbellBro.getWeightSet(barbellBro.getSetting('activeWeightSet')).weights[i];
          }
        }

        confirmWeightList += '<span class="metricMsg">Weights in ' + (theMetric == 'lbs'  ? 'Lbs.' : 'Kgs.') + '</span>';

        $('#confirmWeightList').html(confirmWeightList);

        var navTargets = {
          'back': 'setup-metrics',
          'edit': 'edit-weights',
          'next': 'ui-tour-intro'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
