<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Setup: Confirm Weight Set</h4>
      </div>
      <div class="modal-body">
        <p>Weights confirmed! Your set looks like this:</p>
        <p id="confirmWeightList"></p>
        <p>If you'd like to make changes, select the <b>Back</b> button. Otherwise select the <b class="text-primary">Next</b> button to add this set and continue.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
        <button type="button" class="btn btn-default" data-target="back">Back</button>
        <button type="button" class="btn btn-primary" data-target="next">Next</button>
      </div>
      <script>
        var confirmWeightList = "";
        var customWeights = barbellBro.tempData.customWeights;
        var sortedCustomWeights = [];

        for(var weight in customWeights){
          if(customWeights[weight].selected == true) {
            sortedCustomWeights.push(customWeights[weight].weight);
          }
        }

        sortedCustomWeights.sort(function(a, b){return b-a});

        barbellBro.tempData.customWeights = sortedCustomWeights;

        for(var i = 0, j = sortedCustomWeights.length; i < j; i++) {
          if(i < sortedCustomWeights.length - 1){
            confirmWeightList += sortedCustomWeights[i] + ", ";
          } else {
            confirmWeightList += sortedCustomWeights[i] + " " + barbellBro.getSetting('metric');
          }
        }

        $('#confirmWeightList').html(confirmWeightList);

        var navTargets = {
          'back': 'edit-weights',
          'next': 'ui-tour'
        }

        $('.btn').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
