<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Setup: Weight Set Added</h4>
      </div>
      <div class="modal-body">
        <p>Your custom weight set has been saved as:</p>
        <p id="confirmWeightSet"></p>
        <p>This set will now be active. You can change the active set from the Settings menu.</p>
        <p>If you would like to take a UI tour, select the <b class="text-primary">Next</b> button. Otherwise select the <b>Exit</b> button to begin using the app.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default" data-dismiss="modal">Exit</button>
        <button type="button" class="btn bb-nav btn-primary" data-target="next">Next</button>
      </div>
      <script>
        var customWeights = barbellBro.tempData.customWeights;
        var weightSetMsg = "";

        if(barbellBro.getSetting('metric') == 'lbs') {
          barbellBro.settings.weightSets[2].weights = customWeights;

          for(var i = 0, j = customWeights.length; i < j; i++) {
            barbellBro.settings.weightSets[2].weightStatus.push(1);
          }

          weightSetMsg = "Regular (Custom)";
        } else {
          barbellBro.settings.weightSets[3].weights = customWeights;

          for(var i = 0, j = customWeights.length; i < j; i++) {
            barbellBro.settings.weightSets[3].weightStatus.push(1);
          }

          weightSetMsg = "Olympic (Custom)";
        }

        $('#confirmWeightSet').html(weightSetMsg);

        var navTargets = {
          'next': 'ui-tour'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
