<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Setup: Confirm Weight Set</h4>
      </div>
      <div class="modal-body">
        <p>Weights confirmed! Your set looks like this:</p>
        <p id="confirmWeightList"></p>
        <p>If you'd like to make changes, select the <b>Back</b> button. Otherwise select the <b class="text-primary">Save</b> button to save this set and continue.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default pull-left" data-dismiss="modal">Exit</button>
        <button type="button" class="btn bb-nav btn-default" data-target="back">Back</button>
        <button type="button" class="btn bb-nav btn-primary" data-target="next">Save</button>
      </div>
      <script>
        var confirmWeightList = "";
        var customWeights = barbellBro.tempData.customWeights;

        customWeights.sort(function(a, b){return b-a});

        barbellBro.tempData.customWeights = customWeights;

        for(var i = 0, j = customWeights.length; i < j; i++) {
          if(i < customWeights.length - 1){
            confirmWeightList += customWeights[i] + ", ";
          } else {
            confirmWeightList += customWeights[i];
          }
        }

        confirmWeightList += '<span class="metricMsg">Weights in ' + (barbellBro.getSetting('metric') == 'lbs'  ? 'Lbs.' : 'Kgs.') + '</span>';

        $('#confirmWeightList').html(confirmWeightList);

        var navTargets = {
          'back': 'edit-weights',
          'next': 'edit-weights-confirm'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
