<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Welcome to Barbell Bro!</h4>
      </div>
      <div class="modal-body">
        <p>Barbell Bro is a simple app to help you quickly calculate barbell loads at the gym.</p>
        <img src="./img/usage.png" class="ui-tour">
        <p>It's that easy. Please take a minute to configure Barbell Bro for your own use. It will only take about <u>55 seconds</u>.</p>
        <p>Select <b class="text-primary">Quick Setup</b> to begin! You can run this Quick Setup from the Settings menu later too.</p>
        <p><input type="checkbox" id="firstuse"><label for="firstuse"><span class="check-label">Don't show this screen again on startup</span></label></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default pull-left" data-target="later">Later</button>
        <button type="button" class="btn bb-nav btn-primary" data-target="next">Quick Setup</button>
      </div>
      <script>
        $('#firstuse').on('click', function(){
          barbellBro.setSetting('firstUse', document.getElementById('firstuse').checked ? false : true);
          barbellBro.saveSettings();
        });

        var navTargets = {
          'later': 'first-use-confirm',
          'next': 'setup-metrics'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
