<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Quick Setup</h4>
      </div>
      <div class="modal-body">
        <p>Welcome! Let's take a moment to configure Barbell Bro for your own use. It will only take about <u>60 seconds</u>.</p>
        <p>You will let the app know what weights you want to use, and set up your own optional custom set to fit your needs.</p>
        <p>Select <b class="text-primary">Quick Setup</b> to begin! Otherwise, select <b>Later</b>. You can always run Quick Setup from the Settings menu.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default pull-left" data-dismiss="modal">Later</button>
        <button type="button" class="btn bb-nav btn-primary" data-target="next">Quick Setup</button>
      </div>
      <script>
        barbellBro.setSetting('firstUse', false);
        barbellBro.saveSettings();

        var navTargets = {
          'next': 'setup-metrics'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
