<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">
        <h4>Using the App</h4>
        <button class="btn bb-nav btn-default" data-target="usage">Basic Usage</button>
        <button class="btn bb-nav btn-default" data-target="tour">UI Tour</button>
        <h4>App Info</h4>
        <button class="btn bb-nav btn-default" data-target="about">About</button>
        <button class="btn bb-nav btn-default" data-target="changes">Change Log</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default" data-dismiss="modal">Exit</button>
      </div>
      <script>
        var navTargets = {
          'usage': 'usage',
          'tour' : 'ui-tour-1',
          'about': 'about',
          'changes': 'change-log'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
