<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Settings: Clear Data</h4>
      </div>
      <div class="modal-body">
        <h4>Clear Data</h4>
        <p>You are about to clear all customizations you've made to Barbell Bro. You will have to setup the app again next time you run it. Select the <b>Clear Data</b> button if you want to proceed.</p>
        <button class="btn bb-nav btn-danger" data-target="bbData">Clear Data</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default" data-target="back">Back</button>
      </div>
      <script>
        var navTargets = {
          'back': 'settings',
          'bbData': 'settings-clear-data-2'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
