<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Settings: Edit a Custom Set</h4>
      </div>
      <div class="modal-body">
        <p id="customSetName"></p>
        <p>Select 3 to 10 available weight plates and select <b>Next</b> to save the set.</p>
        <div id="customWeights"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default pull-left" data-dismiss="modal">Exit</button>
        <button type="button" class="btn bb-nav btn-default" data-target="back">Back</button>
        <button type="button" class="btn bb-nav btn-primary btn-next" data-target="next" disabled>Next</button>
      </div>
      <script>
        var customWeights = [];

        var editedSet = barbellBro.getWeightSet( barbellBro.tempData.editedSet );
        barbellBro.log("Editing set: " + editedSet.name);
        barbellBro.tempData.numWeightsSelected = 0;

        $('#customSetName').html('Now editing: <b>' + editedSet.name + '</b>');

        if(editedSet.type == 'US') {
          customWeights = [55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 2.5, 1, 0.5, 0.25];
        } else {
          customWeights = [45, 40, 35, 30, 25, 20, 15, 10, 5, 2.5, 2, 1.5, 1, 0.5, 0.25];
        }

        var selectedCustomWeights = {};

        for(var i = 0, j = customWeights.length; i < j; i++){
          selectedCustomWeights[customWeights[i]] = { weight: customWeights[i], selected: false }
          addCustomWeightBtn(customWeights[i]);
        }

        function addCustomWeightBtn(weight){
          var customWeight = $('<button>');
          customWeight.html(weight);
          customWeight.addClass('customWeight btn btn-default');
          customWeight.data('weight', weight);

          customWeight.on('click', function(){
            if(selectedLimitReached()){
              if($(this).hasClass('selected')){
                $(this).removeClass('selected');
                barbellBro.tempData.numWeightsSelected--;
              }
            } else {
              if($(this).hasClass('selected')){
                $(this).removeClass('selected');
                barbellBro.tempData.numWeightsSelected--;
              } else {
                $(this).addClass('selected');
                barbellBro.tempData.numWeightsSelected++;
              }
            }
            if (barbellBro.tempData.numWeightsSelected >= 3) {
              $('button.btn-next').removeAttr('disabled');
            } else {
              $('button.btn-next').attr('disabled', 'true');
            }
          });

          $('#customWeights').append(customWeight);
        }

        function selectedLimitReached(){
          return barbellBro.tempData.numWeightsSelected >= 10 ? true : false;
        }

        var navTargets = {
          'back': 'settings-edit-set',
          'next': 'settings-edit-set-confirm'
        }

        $('.btn.bb-nav').on('click', function(){
          if($(this).data('target') == 'next'){
            barbellBro.tempData.customWeights = [];

            $.each( $('.customWeight.selected'), function(i, e){
              barbellBro.tempData.customWeights.push($(e).data('weight'))
            });
          }
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
