<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Settings: Edit a Custom Set</h4>
      </div>
      <div class="modal-body">
        <h4>Custom Weight Sets</h4>
        <p>Here are the available custom sets. Select a set to edit it.</p>
        <p id="setList"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default" data-target="bbData">Back</button>
      </div>
      <script>
        function setActiveSetUI(){
          $('#setList').html('');
          for(var i = 0, j = barbellBro.settings.weightSets.length; i < j; i++) {
            if(i > 1) {
              addSetBtn(i);
          }
          }
        }

        function addSetBtn(i){
          var setBtn = $('<button>');
          setBtn.addClass('btn btn-default spaced');
          setBtn.html(barbellBro.settings.weightSets[i].name);
          setBtn.data("setNum", i)
          setBtn.on('click', function(){
            $('#modal').modal('hide');
            $('#modal').on('hidden.bs.modal', function(e){
              showModal('settings-edit-set-weights');
            });
            barbellBro.tempData.editedSet = setBtn.data("setNum");
          });
          $('#setList').append(setBtn);
        }

        setActiveSetUI();

        var navTargets = {
          'bbData': 'settings',
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
