<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Settings: Change Active Set</h4>
      </div>
      <div class="modal-body">
        <h4>Active Set</h4>
        <p id="activeSet" style="color: #0079B5"></p>
        <hr>
        <h4>Other Sets</h4>
        <p>Select a set to make it active:</p>
        <p id="otherSets"></p>
        <p class="note">NOTE: Custom sets won't appear here unless you've configured them.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bb-nav btn-default" data-target="bbData">Back</button>
      </div>
      <script>
        function setActiveSetUI(){
          var theActiveSet = barbellBro.getWeightSet(barbellBro.getSetting('activeWeightSet'));
          $('#activeSet').html( "<b>" + theActiveSet.name + "</b> <i>(" + theActiveSet.weights[0] + ", " + theActiveSet.weights[1] + ", " + theActiveSet.weights[2] +"...)</i>" );

          $('#otherSets').html('');
          for(var i = 0, j = barbellBro.settings.weightSets.length; i < j; i++) {
            if(i != barbellBro.getSetting('activeWeightSet') && barbellBro.getWeightSet(i).weights.length >= 3) {
              addSetBtn(i);
            }
          }
        }

        function addSetBtn(i){
          var setBtn = $('<button>');
          setBtn.addClass('btn btn-default spaced');
          setBtn.html(barbellBro.settings.weightSets[i].name);
          setBtn.data("setNum", i)
          setBtn.on('click', function(){
            barbellBro.setSetting('activeWeightSet', $(this).data('setNum'));
            barbellBro.saveSettings();
            init({modal: false});
            setActiveSetUI();
          });
          $('#otherSets').append(setBtn);
        }

        setActiveSetUI();

        var navTargets = {
          'bbData': 'settings'
        }

        $('.btn.bb-nav').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
