<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Setup: Metrics</h4>
      </div>
      <div class="modal-body">
        <p>Which units do you prefer to use?</p>
        <p>
          <label>
            <input type="radio" name="metric" value="lbs" checked="true"/>
            US (e.g., 45 lbs, 35 lbs, 25 lbs ...)
          </label>
        </p>
        <p>
          <label>
            <input type="radio" name="metric" value="kgs"/>
            Metric (e.g., 25 kgs, 20 kgs, 15 kgs ...)
          </label>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
        <button type="button" class="btn btn-primary" data-target="next">Next</button>
      </div>
      <script>
        var navTargets = {
          'next': 'confirm-metrics'
        }

        $('.btn').on('click', function(){
          var targetModal = navTargets[$(this).data('target')];

          if(targetModal == undefined) {
            return;
          }

          if($(this).data('target') == 'next') {
            var metricSelection = 'lbs';
            metricSelection = $('input[name="metric"]:checked').val();

            // Set the active weight set based on the user selection
            if(metricSelection == 'lbs') {
              barbellBro.setSetting('metric', 'lbs');
              barbellBro.setSetting('activeWeightSet', 0);
            } else {
              barbellBro.setSetting('metric', 'kgs');
              barbellBro.setSetting('activeWeightSet', 1);
            }
          }

          $('#modal').modal('hide');
          $('#modal').on('hidden.bs.modal', function(e){
            showModal(targetModal);
          });
        });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
