<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">First Time Setup: UI Tour</h4>
      </div>
      <div class="modal-body">
        <p>UI Tour</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
        <button type="button" class="btn btn-primary" data-target="next">Next</button>
      </div>
      <script>
      var navTargets = {
        'next': 'setup-metrics'
      }

      $('.btn').on('click', function(){
        var targetModal = navTargets[$(this).data('target')];

        if(targetModal == undefined) {
          return;
        }

        $('#modal').modal('hide');
        $('#modal').on('hidden.bs.modal', function(e){
          showModal(targetModal);
        });
      });
      </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
